= render partial: 'breadcrumbs'

- @changed_files.each do |file|
  .changed-file.well.well-small
    %h2.file-name
      = link_to file[:path], browse_commits_path(@repository.path, @oid, file[:path]), class: 'btn'
    .diff-code
      = file[:diff].html_safe
