- if @is_head
  = link_to history_repository_path(@repository, @url), class: 'btn' do
    %i.icon-time
    History
- else  
  = link_to history_commits_path(@repository, @oid, @url), class: 'btn' do
    %i.icon-time
    History