%table.table.table-condensed.table-hover
  %thead
    %tr
      %th{ style: 'width:10%;' } &nbsp;
      %th{ style: 'width:30%;' } File name
      %th{ style: 'width:25s%;' } Last modified
      %th{ style: 'width:35%;' } Last commit
  %tbody

- if user_signed_in?
  %hr    
  = render partial: 'upload'