.pull-right
  = link_to raw('<i class="icon-upload"></i> Upload file'), '#', method: :get, class: 'create-confirm btn btn-primary'
  .modal-input
    #create-confirm.modal.fade
      = render 'upload_form'