- provide(:title, "Commits of #{@repository.title}")

= render partial: 'show_top'

= render partial: 'show_tabs'

.tab-content
  #commits.tab-pane.active
    - if @repository.commits.empty?
      .muted
        No commits in this repository.
    - else
      = render partial: 'commits'
