- provide(:title, 'Repositories')
%h1 Repositories

.pull-right= paginate @repositories
.clearfix    

= render partial: 'repository', collection: @repositories
  
.well.pull-right.well-small= page_entries_info @repositories
.clearfix
