development:
  adapter: mysql2
  username: root
  database: bringit_dev
  pool: 5
  timeout: 5000
  socket: /tmp/mysql.sock
  
test:
  adapter: sqlite3
  database: db/test.sqlite3
  pool: 5
  timeout: 5000

production:
  adapter: mysql2
  username: root
  host: localhost
  database: bringit
