@import "compass";
@import "compass/reset";
@import "bootstrap";
@import "bootstrap-responsive";
@import "font-awesome";
/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$blue: #31ACBC;
$blue2: #EFF2F7;

body {
  padding-top:60px;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  padding-top: 9px;
  line-height: 1;
  strong {
    color:$grayMediumLight !important;
    background:$blue;
    padding:0px 8px 0px 4px;
    @include border-radius(5px);
    margin-left:4px;
  }
  &:hover {
    color: white;
    text-decoration: none;
    strong {
      background:#666666;
      
    }
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}


/* dev-bar */
#development-bar {
  h1 {
    @extend h4;
  }
}

.top-search {
  margin:20px 0px;
}

/* box */
.box {
  background:$blue2;
  .top {
    margin:-10px -10px 0px -10px;
    padding:10px;
    background: $grayLighter;
    h1 {
      @extend h4;
      a {
        color:$textColor;
      }
    }
    
  }
}
