@import "compass";
@import "compass/reset";
@import "bootstrap";
@import "bootstrap-responsive";
@import "font-awesome";
/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$blue: #31ACBC;
$blue2: #EFF2F7;
$blue3: #F9FAFC;

body {
  padding-bottom:20px;
}

/* header */
header.navbar {
  .navbar-inner {
    @include border-radius(0px);
  }
  .container {
    @extend .container;
  }
  .dropdown-menu {
    width:99%;
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  padding-top: 9px;
  line-height: 1;
  strong {
    color:$grayMediumLight !important;
    background:$blue;
    padding:0px 8px 0px 4px;
    @include border-radius(5px);
    margin-left:4px;
  }
  &:hover {
    color: white;
    text-decoration: none;
    strong {
      background:#666666;
      
    }
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}


/* dev-bar */
#development-bar {
  h1 {
    @extend h4;
  }
}

.top-search {
  margin:20px 0px;
}

.back-button {
  margin-bottom:10px;
  margin-top:10px;
}

/* box */
.box {
  background:$blue2;
  .top {
    margin:-10px -10px 10px -10px;
    padding:5px 9px;
    background: white;
    @include border-top-radius(4px);
    border:1px solid $grayLighter;
    h1 {
      @extend h4;
      a {
        color:$textColor;
      }
    }
    .path {
      padding-top:10px;
    }
  }
  .commit {
     @include border-radius(4px);
     background:$blue3;
     padding:10px;
     margin:10px 0px;
     .short_hash {
       a {
         width:80px;
         margin-top:5px;
       }
     }
  }
  .icon-sitemap {
     color:rgba($linkColor, 0.5);
     padding:50px 0px;
     text-align:center;
     display:block;
     width:auto;
     margin-right:-40px;
  }
  .browse-history {
    text-align:center;
     margin-right:-40px;
  }
  ol {
    margin-left:0px;
  }
}
.form-search {
  margin: 6px 0px 0px 0px;
  button {
    display:none;
  }
}
.ui-autocomplete.ui-menu {
  z-index:100 !important;
  li {
    a {
      cursor:pointer;
    }
  }
}
#repository_description {
  height:100px;
}
