#delete-confirm.modal.fade
  .modal-header
    %a.close{ 'data-dismiss' => 'modal' } x
    %h3
  .modal-body
    %p
  .modal-footer
    %a.btn.btn-danger{ href: '#', 'data-method' => 'delete' } Delete
    %a.btn{ href: '#', 'data-dismiss' => 'modal' } Cancel
    
      